.message {
  position: relative;

  display: block;
  overflow: hidden;

  max-height: 175px;
  margin: 20px 0;
  padding: 10px;

  list-style-type: none;

  color: #2c3e50;
  border-radius: 3px;
  background: white;
  box-shadow: 0 3px 0 #eee;
}

.message blockquote {
  font-size: 14px;

  display: inline-block;
  float: right;

  width: calc(100% - 100px);
  margin: 0;
}

.message blockquote cite {
  font-weight: bold;
  font-style: normal;
}

.message blockquote cite a {
  display: inline-block;

  margin-right: 5px;

  text-decoration: none;

  color: #1abc9c;
}

.message blockquote cite a:hover {
  text-decoration: underline;
}

.message blockquote .screen-name {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: normal;

  color: #999;
}

.message blockquote .content {
  display: block;
  clear: left;

  margin-top: 5px;
}

.message:before,
.message:after {
  display: table;

  content: ' ';
}

.message:after {
  clear: both;
}